/* root
-------------------- */

:root {
  --black: #121826;
  --light-black: #212936;
  --dark-gray: #394150;
  --gray: #4d5562;
  --light-gray: #a1a1a9;
  --white: #e5e7eb;
  --dark-purple: #652cd1;
  --purple: #845eee;

  /* color map */
  --background-color: var(--black);
  --form-background-color: var(--dark-gray);
  --border-color: var(--light-gray);
  --form-primary-text-color: var(--white);
  --form-secondary-text-color: var(--light-gray);
  --form-button-start-color: var(--purple);
  --form-button-end-color: var(--dark-purple);
  --form-button-text-color: var(--white);
  --form-radio-active-color: var(--dark-purple);
  --form-radio-active-border-color: var(--purple);
  --step-text-color: var(--light-black);
  --step-color: var(--gray);
  --step-active-color: var(--purple);

  /* font */
  --font-base: 'Inter', inter, system-ui, avenir, helvetica, arial, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-base);
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}
